@model IEnumerable<Products>
@{
    ViewData["Title"] = "- Shop";
}

<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <h1 class="my-4">@ViewData["Category"]</h1>
            <div class="list-group">
                <a href="@Url.Action("Category", "Shop", new { category = "Mens Trainers" }, null)" class="list-group-item">Mens Trainers</a>
                <a href="@Url.Action("Category", "Shop", new { category = "Ladies Trainers" }, null)" class="list-group-item">Ladies Trainers</a>
                <a href="@Url.Action("Category", "Shop", new { category = "Kids Trainers" }, null)" class="list-group-item">Kids Trainers</a>
                <a href="@Url.Action("Category", "Shop", new { category = "Mens Clothing" }, null)" class="list-group-item">Mens Clothing</a>
                <a href="@Url.Action("Category", "Shop", new { category = "Ladies Clothing" }, null)" class="list-group-item">Ladies Clothing</a>
                <a href="@Url.Action("Category", "Shop", new { category = "Kids Clothing" }, null)" class="list-group-item">Kids Clothing</a>
            </div>
        </div>

        <div class="col-lg-9">
            <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <img class="d-block img-fluid" src="~/images/Banners/banner4.jpg" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block img-fluid" src="~/images/Banners/banner5.jpg" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block img-fluid" src="~/images/Banners/banner6.jpg" alt="Third slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <div class="row">
            @if (Model != null)
            {
                foreach (var product in Model)
                {
                    string imageURL = "https://sdneapp01prodsa01.blob.core.windows.net/productimages/" + product.ProductId + ".jpg";
                    <div class="col-lg-4 col-md-6 mb-4">
                        <a style="text-decoration:none; color:#4a4a4a" href="@Url.Action("Product", "Shop", new { selectedProductId = product.ProductId }, null)">
                            <div class="card h-100">
                                <img class="card-img-top" src="@imageURL" alt="@product.ProductName">
                                <div class="card-body">
                                    <h4 class="card-title">
                                        @product.ProductName
                                    </h4>
                                    <h5>£@product.ProductCost</h5>
                                    <p class="card-text" style="overflow:hidden; max-height:70px;">@product.ProductDetails</p>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            }
            else
            {
                <p>Error loading products.</p>
            }

            </div>

        </div>
    </div>
</div>